@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-color: rgb(247, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mainlabel{
    margin-bottom: 80px;
}
.card{
    height: 330px;
    max-width: 580px;
    width: 98%;
    margin-bottom: 150px;
    background-image: url(matte-black-background-image.webp);
    border-radius: 25px;
    box-shadow: 0 5px 15px rgb(94, 94, 94);
    cursor: pointer;
    animation: float 2s ease-in-out infinite;
    position: relative;
}
@keyframes float {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0%);
    }
}
.visalogo img{
    height: 130px;
    display: block;
}
.visalogo{
    position: absolute;
    right: 15px;
    bottom: 0px;
}
.chiplogo img{
    height: 70px;
    display: block;
}
.chiplogo{
    position: absolute;
    left: 40px;
    top: 90px;
}
.cardnumber{
    position: absolute;
    left: 60px;
    top: 180px;
}
.cardnumber h3{
    font-size: 30px;
    color: white;
    font-family: 'Courier New', monospace;
    letter-spacing: 7px;
}
.nfclogo img{
    height: 70px;
    display: block;
}
.nfclogo{
    position: absolute;
    right: 10px;
    top: 10px;
}
.premiumlogo{
    position: absolute;
    left: 40px;
    top: 30px;
}
.premiumlogo h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    font-size: 32px;
}
.holdername{
    position: absolute;
    left: 40px;
    bottom: 25px;
}
.holdername h1{
    font-family: 'Courier New', monospace;
    letter-spacing: 2px;
    color: white;
    font-weight: 500;
}
.validity{
    position: absolute;
    top: 100px;
    right: 80px;
    color: white;
}
.validity .date{
    font-family: 'Courier New', monospace;
    letter-spacing: 3px;
}